# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [0]:
def str_to_dict(some_str):
    """
    :param some_str: str
    :return: dict
    """
    return dict([(i, some_str.count(i)) for i in set(some_str)])

In [0]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'u': 1, 't': 3, 'o': 2, '_': 1, 'i': 2, 's': 1, 'r': 2, 'n': 1, 'y': 1, 'a': 2, 'v': 1, 'd': 1, 'e': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [0]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    smallest = min(numbers)
    while smallest in numbers:
        numbers.remove(smallest)
    return min(numbers)

In [0]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [0]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE
    prime = [True for i in range(n + 1)]
    prime[0] = False
    prime[1] = False
    p = 2
    while (p * p <= n):
        if (prime[p] == True):  # If prime[p] is not changed, then it is a prime
            for i in range(p * 2, n + 1, p):  # Update all multiples of p
                prime[i] = False
        p += 1
    return [i for i in range(len(prime)) if prime[i]]

In [0]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [0]:
def max_sum_index(tuples):
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    tuples_sums = list(map(sum, tuples))
    return tuples_sums.index(max(tuples_sums))

In [0]:
print('Index:', max_sum_index([(10, 20), (40, 32), (30, 25)]))

Index: 1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [0]:
def gcd(x, y):
    '''
    :params m,n: int
    :return: int
    '''
    while (y):
        x, y = y, x % y
    return x

In [0]:
print('GCD:', gcd(160, 180))

GCD: 20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [0]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    total = 0
    for element in data_list:
        if type(element) == type([]):
            total = total + recursive_list_sum(element)
        else:
            total = total + element
    return total

In [0]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3,4],[5,6], [7, 8, 9]]))

The sum of a list is  45

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 45</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [0]:
"""
def debug(func):
    """"""
    :param func: function
    """"""

    def wrapper(*args, **kwargs):
        ''' 
           :param *args, **kwargs
        '''
        return(func.__name__ + '(' + ', '.join(map(str, args)) + ') was called and returned', func(*args, **kwargs))
    return wrapper
"""



def debug(func):
    """Print the function signature and return value"""
    saved_name = func.__name__
    def wrapper_debug(*args, **kwargs):
        args_repr = [repr(a) for a in args]
        kwargs_repr = [f"{k}={v!r}" for k, v in kwargs.items()]
        signature = ", ".join(args_repr + kwargs_repr)
        value = func(*args, **kwargs)
        return(f"{func.__name__}({signature}) was called and returned {value!r}")
        #return value
    func.__name__ = saved_name
    return wrapper_debug

In [219]:
@debug
def add(a, b):
    return a + b

add(3, 4)

'add(3, 4) was called and returned 7'

Expected Output:
<table>
  <tr>
    <td>'add(3, 4) was called and returned 7'</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [0]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]

    def to_roman(self, num):
        """
        :param self:
        :param n: int
        :return: str    
        """
        roman_number = ''
        i = 0
        while num > 0:
            for _ in range(num // self.val[i]):
                roman_number += self.syb[i]
                num -= self.val[i]
            i += 1
        return roman_number

In [0]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [0]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        #return list(list(compress(my_list,mask)) for mask in product(*[[0,1]]*len(my_list)))
        def combinations(lst, depth, start=0, items=[]):
            if depth <= 0:
                return [items]
            out = []
            for i in range(start, len(lst)):
                out += combinations(lst, depth - 1, i + 1, items + [lst[i]])
            return out
        return [c for i in range(len(my_list)+1) for c in combinations(my_list,i)]

"""
        def combination_helper(alist, n):
            if n == 0:
                yield []
            for i in range(len(alist)):
                for element in combination_helper(alist[:i], n-1):
                    yield element + [alist[i]]
        result = []
        for i in range(len(my_list)+1):
            result.extend(list(combination_helper(my_list,i)))
        return result
"""

In [212]:
print('Combinations:', CombinationsList().get_combinations([1, 2, 'a']))

Combinations: [[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [0]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        if type(self.__mission) == str:
            self.__mission = [self.__mission]+[mission]
        else:
            self.__mission.append(mission)

    def getName(self):
        """
        : return str
        """
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        super().__init__(name, mission)
        self.__model = model

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [0]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: Dragon 2 pad abort test

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']